data/flows.json
[{"id":"84120073.6fe3e","type":"tab","label":"Kafka to Websocket","disabled":false,"info":""},{"id":"e3a115f2.1c2558","type":"tab","label":"Traffic inspection","disabled":false,"info":""},{"id":"c0a3e239.bed49","type":"kafka-broker","z":"","broker":"192.168.48.71:9092,192.168.48.71:9093,192.168.48.71:9094","clientid":""},{"id":"bb4f61db.4f5418","type":"websocket-listener","z":"","path":"/ws/dtz.sensorthings","wholemsg":"false"},{"id":"3d5233d5.8e353c","type":"mqtt-broker","z":"","name":"il071","broker":"192.168.48.71","port":"1883","tls":"a1f90827.9275e","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a1f90827.9275e","type":"tls-config","z":"","name":"securedServer","cert":"","key":"","ca":"","certname":"server.key","keyname":"ca.key","caname":"ca.crt","servername":"","verifyservercert":true},{"id":"c01188f5.1c895","type":"mqtt-broker","z":"","name":"","broker":"192.168.48.71","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"278acee4.c40172","type":"kafka-broker","z":"","broker":"192.168.48.71:9092,192.168.48.72:9092,192.168.48.73:9092,192.168.48.74:9092,192.168.48.75:9092","clientid":"node-red"},{"id":"d654278e.4b2918","type":"rdkafka in","z":"84120073.6fe3e","name":"","topic":"test-system.int","cgroup":"hololens-adapter","autocommit":true,"broker":"c0a3e239.bed49","x":180,"y":140,"wires":[["6d5b400b.dac19","d2b53b2b.9e7d98","57bd2de0.f5df5c"]]},{"id":"6d5b400b.dac19","type":"debug","z":"84120073.6fe3e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":180,"wires":[]},{"id":"d2b53b2b.9e7d98","type":"websocket out","z":"84120073.6fe3e","name":"","server":"bb4f61db.4f5418","client":"","x":450,"y":140,"wires":[]},{"id":"57bd2de0.f5df5c","type":"websocket out","z":"84120073.6fe3e","name":"","server":"bb4f61db.4f5418","client":"","x":450,"y":100,"wires":[]},{"id":"4f4867c2.1b922","type":"mqtt in","z":"e3a115f2.1c2558","name":"sensorpi/current1","topic":"sensorpi/current1","qos":"2","datatype":"auto","broker":"c01188f5.1c895","x":150,"y":220,"wires":[["b6976a48.4a3fe8"]]},{"id":"b6976a48.4a3fe8","type":"debug","z":"e3a115f2.1c2558","name":"Prusa Stromverbrauch","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":380,"y":260,"wires":[]},{"id":"47553b42.1f2214","type":"mqtt in","z":"e3a115f2.1c2558","name":"testtopic","topic":"#","qos":"1","datatype":"auto","broker":"c01188f5.1c895","x":120,"y":460,"wires":[["fdda1235.6271e"]]},{"id":"fdda1235.6271e","type":"debug","z":"e3a115f2.1c2558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":480,"wires":[]},{"id":"152e6018.fe2d4","type":"mqtt in","z":"e3a115f2.1c2558","name":"sensorpi","topic":"sensorpi/#","qos":"2","datatype":"auto","broker":"c01188f5.1c895","x":120,"y":120,"wires":[["bfe39083.192c78"]]},{"id":"bfe39083.192c78","type":"debug","z":"e3a115f2.1c2558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":140,"wires":[]},{"id":"9ff9e70b.35945","type":"mqtt in","z":"e3a115f2.1c2558","name":"prusa3d/temperature/#","topic":"prusa3d/temperature/#","qos":"2","datatype":"auto","broker":"c01188f5.1c895","x":160,"y":340,"wires":[["1b15c135.5728ff"]]},{"id":"1b15c135.5728ff","type":"debug","z":"e3a115f2.1c2558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":360,"wires":[]},{"id":"66aba1a3.b2552","type":"rdkafka in","z":"84120073.6fe3e","name":"","topic":"at.srfg.iot.dtz.int","cgroup":"sdfgg","autocommit":true,"broker":"c0a3e239.bed49","x":180,"y":300,"wires":[["6e5abe83.6c461","5850d1d8.713ae8","28204f87.f9f7b8"]]},{"id":"6e5abe83.6c461","type":"debug","z":"84120073.6fe3e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":340,"wires":[]},{"id":"5850d1d8.713ae8","type":"websocket out","z":"84120073.6fe3e","name":"","server":"bb4f61db.4f5418","client":"","x":450,"y":300,"wires":[]},{"id":"28204f87.f9f7b8","type":"websocket out","z":"84120073.6fe3e","name":"","server":"bb4f61db.4f5418","client":"","x":450,"y":260,"wires":[]}]
